body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#main-div {
    width: 100%;
    display: inline-flex;
}

.main-divs {
    margin: 2px;
    width: 90%; 
}

.upload-button {
    margin-left: 34%;
    margin-top: 10%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-right: 16px solid #afafaf;
    border-left: 16px solid #afafaf;
    border-bottom: 16px solid #afafaf;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 47.8%;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.customDisabledBtn {
    opacity: 0.4 !important;
    pointer-events: none;
}

.imageDimensions {
    max-height: 450px; 
    max-width: 450px;
}

.canvasCls {
    border: 1px solid #d3d3d3;
    position: relative;
}

/*#uploadedImageId {
    height: 350px;
}*/

.emotionsGrid {
    text-indent: 60px;
    display: grid;
}

.emotionSectionDiv {
    overflow-y: scroll;
    height: 400px;
}

.personEmotionCard  {
    padding: 10px;
    margin-bottom: 5px;
}
