@{
    ViewBag.Title = "Home Page";
    @Scripts.Render("~/bundles/jquery")
}

<div id="main-div">
    <div class="jumbotron main-divs">
        <h1>Select Photo</h1>
        <p class="lead">Upload a photo in order to analyze it.</p>
        <button id="chooseImageBtn" type="button" class="btn btn-warning">Choose Image</button><br/><br/>
        <input id="inputImage" type="file" accept="image/*" onchange="loadImage(event)" hidden="true">
        <img id="uploadedimage" />
        <script>
            var analyzePhoto = function () {
                var url = '@Url.Action("AnalyzeImage", "Home", new { path = "js-id" })'
                    .replace("js-id", document.getElementById("inputImage").value);
                window.location = url;
            };

            $('#chooseImageBtn').on('click', function () {
                $('#inputImage').click();
            });

            var loadImage = function (event) {
                var uploadedimage = document.getElementById('uploadedimage');
                uploadedimage.src = URL.createObjectURL(event.target.files[0]);
                // document.getElementById('analyzePhotoBtn').disabled = false;
                document.getElementById('analyzePhotoBtn').hidden = false;
                document.getElementById('chooseImageBtn').innerText = 'Change Image';
            };
        </script>
        <button id="analyzePhotoBtn" onclick="analyzePhoto(); return false;" class="btn btn-primary btn-lg upload-button" hidden="true">Analyze Photo &raquo;</button>
    </div>
    <div class="jumbotron main-divs">
        
    </div>
</div>
